// Install the packages
// $ cd client
// $ npm install bootstrap reactstrap

// First of all, definition of variables
$primary: #32c3ff;
$danger: #cb444a;

// Then import the following link
@import '../node_modules/bootstrap/scss/bootstrap.scss';

// // Style for App component
.App {
  text-align: center;
}

.navbar {
  margin-bottom: 20px;
}

a.nav-link {
  text-align: right;
  margin-right: 20px;
}

.thumbnail-img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}
